# fly.toml app configuration file generated for bywa-evo on 2026-01-26T01:39:18Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#
app = "bywa-evo"
primary_region = "iad"

[build]
  image = "atendai/evolution-api:latest"

[http_service]
auto_start_machines = true
auto_stop_machines = 'stop'
force_https = true
internal_port = 8080
min_machines_running = 0
processes = [ "app" ]

[deploy]
  release_command = "npm run db:deploy"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.http_checks]]
    grace_period = "120s"
    interval = "15s"
    method = "get"
    path = "/health"
    timeout = "5s"

[[vm]]
PORT = "8080"
SERVER_URL = "0.0.0.0"
cpu_kind = "shared"
cpus = 1
memory = "1gb"
memory_mb = 2048
