# fly.toml app configuration file generated for bywa-evo on 2026-01-29T19:09:05+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bywa-evo'
primary_region = 'iad'

[build]
  image = 'evoapicloud/evolution-api:v2.3.7'

[env]
  DATABASE_CONNECTION_URI = 'postgresql://postgres:bywaEvo8899@db.zltjyjtpfsubvybvzftn.supabase.co:5432/postgres'
  DATABASE_URL = 'postgresql://postgres:bywaEvo8899@db.zltjyjtpfsubvybvzftn.supabase.co:5432/postgres'
  DETERMINE_IP_ADDRESS = 'false'
  DATABASE_PROVIDER = 'postgresql'
  CACHE_LOCAL_ENABLED = 'false'
  CACHE_REDIS_ENABLED = 'true'
  PORT = '8080'
  SERVER_URL = 'https://bywa-evo.fly.dev'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 0

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 250
    soft_limit = 200

[[http_service.checks]]
  grace_period = "120s"
  interval = "30s"
  method = "get"
  path = "/"
  timeout = "5s"

[[vm]]
  memory = '2gb'
  cpus = 2
  memory_mb = 2048
