# fly.toml app configuration file generated for bywa-evo on 2026-01-26T01:39:18Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bywa-evo'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[build]
  image = "atendai/evolution-api:latest"

[env]
  SERVER_TYPE = "https"
  SERVER_URL = "https://bywa-evo.fly.dev"  # Ganti sesuai nama app Anda
  CORS_ORIGIN = "*"
  CORS_METHODS = "POST,GET,PUT,DELETE"
  CORS_CREDENTIALS = "true"
  
  # Authentication
  AUTHENTICATION_TYPE = "apikey"
  AUTHENTICATION_API_KEY = "ynaRut1!8090"
  AUTHENTICATION_EXPOSE_IN_FETCH_INSTANCES = "true"
  
  # Database Config - JANGAN ISI DISINI, AKAN DI SET VIA SECRETS
  # DATABASE_ENABLED = "true"
  # DATABASE_PROVIDER = "postgresql"
  
  # Instance Config
  DEL_INSTANCE = "false"
  DEL_TEMP_INSTANCES = "true"
  
  # Logs
  LOG_LEVEL = "ERROR,WARN,DEBUG,INFO,LOG,VERBOSE,DARK,WEBHOOKS"
  LOG_COLOR = "true"
  
  # Storage
  STORE_MESSAGES = "true"
  STORE_MESSAGE_UP = "true"
  STORE_CONTACTS = "true"
  STORE_CHATS = "true"
