# fly.toml app configuration file generated for bywa-evo on 2026-01-26T01:39:18Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "bywa-evo"
primary_region = "iad"

[build]
  image = "atendai/evolution-api:latest"

[env]
  DATABASE_URL = "postgresql://postgres:bywaEvo8899@db.zltjyjtpfsubvybvzftn.supabase.co:5432/postgres"
  DATABASE_CONNECTION_URI = "postgresql://postgres:bywaEvo8899@db.zltjyjtpfsubvybvzftn.supabase.co:5432/postgres"
  SERVER_URL = "0.0.0.0"
  PORT = "8080"
  DETERMINE_IP_ADDRESS = "false"
  

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  [http_service.concurrency]
    type = "requests"
    hard_limit = 250
    soft_limit = 200

[[vm]]
  cpu_kind = "shared"
  cpus = 2
  memory_mb = 2048
